.form-cadastro {
  flex-grow: 2;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 12px 40px;
}

.form-cadastro_input {
  margin-top: 8px;
  padding: 4px;
  border: none;
  background-color: var(--fundo-detalhes);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.form-cadastro_submit {
  align-self: flex-end;
  width: 30%;
  background-color: var(--secundaria);
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.form-cadastro_submit:active {
  background-color: var(--secundaria-ativa);
}

.lista-notas {
  background-color: var(--fundo);
  flex-grow: 3;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  list-style-type: none;
  padding-left: 24px;
  padding-top: 24px;
}
.lista-notas_item {
  margin: 12px;
  max-width: 240px;
  max-height: 400px;
  display: inline;
}

.card-nota {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--fundo-detalhes);
  border-radius: 4px;
  flex-wrap: wrap;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 16px;
}
.card-nota_cabecalho {
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-nota_texto {
  margin-top: 8px;
  font-size: 1em;
}

.card-nota_titulo {
  font-size: 1.2em;
  margin-right: 12px;
}